* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
}

header .collapse a::after, header .left .services::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.3s ease;
}

header .navbar {
  margin: 20px 0 80px 0;
}
header .navbar a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
}
header .left .navbar-brand {
  margin-right: 100px;
}
header .left .services {
  position: relative;
}
header .left .services:hover::after {
  background-color: #b00000;
}
header .collapse a {
  position: relative;
}
header .collapse .navbar-nav li a:hover::after {
  background-color: #b00000;
}
header .collapse .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .collapse .right a:hover::after {
  background-color: #b00000;
}
header .collapse .right .line {
  width: 1px;
  height: 19px;
  background-color: #dad8d8;
}
header .sub-nav {
  flex-wrap: wrap-reverse;
}
header .sub-nav .left {
  width: 50%;
}
header .sub-nav .left ul li a {
  border: none;
  color: rgba(214, 212, 212, 0.8784313725);
}
header .sub-nav .left ul li a.active {
  color: #b00000;
  border-bottom: 1px solid #b00000;
}
header .sub-nav .left .tab-content .tab-pane {
  padding-top: 30px;
}
header .sub-nav .left .tab-content .tab-pane h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 77.5px;
  margin-bottom: 40px;
  color: #2e2e2e;
  max-width: 608px;
}
header .sub-nav .left .tab-content .tab-pane p {
  font-family: "Inter", sans-serif;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #808080;
  max-width: 448px;
}
header .sub-nav .left .tab-content .tab-pane .sub-nav-btns {
  align-items: center;
  display: flex;
  gap: 25px;
}
header .sub-nav .left .tab-content .tab-pane .sub-nav-btns .create {
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  background-color: #b00000;
  color: white;
  box-shadow: 0px 0px 64px 0px rgba(176, 0, 0, 0.3019607843);
}
header .sub-nav .left .tab-content .tab-pane .sub-nav-btns .choose-plan {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 14px;
  background-color: white;
}
header .sub-nav .right {
  width: 50%;
}
header .sub-nav .right img {
  width: 100%;
  object-fit: cover;
}

.cloud-content {
  display: flex;
  padding-top: 100px;
}
.cloud-content .left {
  width: 50%;
}
.cloud-content .left h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-bottom: 20px;
}
.cloud-content .left p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px;
  max-width: 573px;
}
.cloud-content .right {
  padding-top: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.service {
  padding: 100px 0;
}
.service-box {
  display: flex;
  text-align: center;
  gap: 50px;
}
.service-item img {
  margin-bottom: 15px;
}
.service-item h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.service-item small {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.package-title h2,
.package-title > p {
  text-align: center;
}
.package-title ul.nav {
  text-align: center;
  max-width: 856px;
  margin: 50px auto 80px;
  border: none;
}
.package-title ul.nav li {
  width: 50%;
}
.package-title ul.nav li a {
  border: none;
  border-bottom: 4px solid #c4c4c4;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #18191f;
}
.package-title ul.nav li a:hover {
  border-bottom: 4px solid #c4c4c4;
}
.package-title ul.nav li a.active {
  border-bottom: 4px solid #b00000;
}
.package-title .plan {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.package-title .plan-item {
  border: 1.5px solid #c4c4c4;
  padding: 50px;
  border-radius: 15px;
}
.package-title .plan-item h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 25px;
}
.package-title .plan-item small {
  font-size: 12px;
  line-height: 18px;
}
.package-title .plan-item h1 {
  font-size: 42px;
  line-height: 32px;
  margin-top: 20px;
}
.package-title .plan-item p {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.package-title .plan-item button {
  width: 100%;
  padding: 12px 0;
  border-radius: 12px;
  border: 2px solid black;
  background-color: white;
  margin: 10px 0 30px;
}
.package-title .plan-item .options {
  list-style: none;
}
.package-title .plan-item .options li i {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.package-title .plan-item .options li span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #808080;
}
.package-title > small {
  background-color: #ffe87a;
  border-radius: 15px;
  padding: 7px 10px;
  font-size: 10px;
  position: absolute;
  right: 28%;
}
.package-title h2 {
  font-size: 50px;
  line-height: 60px;
  max-width: 650px;
  margin: 0 auto 20px;
}
.package-title > p {
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 25px;
}
.package-title .switch-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.package-title .switch-box p {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 25px;
}
.package-title .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.package-title .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.package-title .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b00000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.package-title .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.package-title input:checked + .slider {
  background-color: #2196f3;
}
.package-title input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.package-title input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.package-title .slider.round {
  border-radius: 34px;
}
.package-title .slider.round:before {
  border-radius: 50%;
}

.story {
  padding: 150px 0 100px;
}
.story-box {
  display: flex;
  gap: 25px;
}
.story-box .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.story-box .left .title {
  padding-left: 100px;
  position: relative;
}
.story-box .left .title i {
  font-size: 140px;
  color: rgba(176, 0, 0, 0.4);
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 0;
}
.story-box .left .title h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.story-box .left .box {
  max-width: 350px;
}
.story-box .right {
  width: 50%;
}
.story-box .right .box {
  max-width: 445px;
}
.story-box .right .box:last-child {
  margin-top: 25px;
  max-width: 350px;
}
.story-box .box {
  padding: 50px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.0705882353);
}

.wemake-box {
  display: flex;
  padding-bottom: 100px;
}
.wemake-box .left {
  max-width: 445px;
  padding-top: 20px;
}
.wemake-box .left h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.wemake-box .left p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px;
}
.wemake-box .right {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-items: center;
  gap: 50px;
}
.form {
  padding-bottom: 80px;
}
.form-box {
  background: #f7fafe url("../images/Elements.png");
  border-radius: 16px;
  text-align: center;
  padding: 60px 0 80px;
}
.form-box h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 88px;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.form-box button {
  background-color: #b00000;
  color: white;
  border-radius: 8px;
  padding: 12px 20px;
}
footer {
  background-color: #b00000;
  color: white;
  padding-top: 60px;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content .logo {
  max-width: 296px;
}
footer .content .logo img {
  display: block;
  margin-bottom: 10px;
}
footer .content .logo p {
  font-family: "Inter", sans-serif;
  line-height: 32px;
}
footer .content .item {
  padding-top: 20px;
}
footer .content .item h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
footer .content .item ul {
  list-style-type: none;
}
footer .content .item ul li a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  display: block;
  margin-bottom: 15px;
}
footer .sub-content p {
  margin: 0;
  padding: 100px 0;
}

@media only screen and (max-width: 600px) {
  header .sub-nav .left,
  header .sub-nav .right {
    width: 100%;
  }
  header .services {
    display: none;
  }
  header .navbar-toggler {
    box-shadow: none;
    outline: none;
  }
  .cloud-content {
    flex-wrap: wrap;
  }
  .cloud-content .left {
    width: 100%;
  }
  .cloud-content .right {
    width: 100%;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .package-title .plan {
    flex-wrap: wrap;
  }
  .story-box {
    flex-wrap: wrap;
  }
  .story-box .left {
    width: 100%;
    align-items: center;
  }
  .story-box .left .title {
    padding: 0;
  }
  .story-box .left .box {
    max-width: 100%;
  }
  .story-box .right {
    width: 100%;
  }
  .story-box .right .box {
    max-width: 100%;
  }
  .story-box .right .box:last-child {
    max-width: 100%;
  }
  .service-box {
    flex-wrap: wrap;
  }
  .service-item {
    width: 100%;
  }
  .wemake-box {
    flex-wrap: wrap;
  }
  .wemake-box .left {
    max-width: 100%;
  }
  .wemake-box .right {
    width: 100%;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  footer .content {
    flex-wrap: wrap;
  }
  footer .content .logo {
    max-width: 100%;
  }
  footer .content .item {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
